.ps-card{
    width: 432.96px;
    height: 234.23px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 6px 10px rgba(240, 240, 240, 0.5);
    border-radius: 4px;
    padding: 20px;
    .card-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #000000;
        }
    }
    span {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #707B81;
        width: 300px;
        display: block;
    }
}

.voting-card{
    margin: 10px;
    padding: 20px;
    height: 592px;
    background: linear-gradient(360deg, #165970 -115.51%, #139AC6 32.85%);
    .line{
        margin-top: 20px;
    }
    .shadow-box{
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.28);
        height: 215px;
        padding: 15px;
        .winner-box{
            .text{
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 46px;
                color: #2DA44C;
            }
        }
        .runner-up-box{
            font-family: 'Ubuntu';
            font-style: normal;
        }
    }
    .stat-summary{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 75px 75px 0px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        padding: 10px 57px;
        .title{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #FF0000;
        }
        .result-box{
            margin-top: 10px;
            width: 100%;
            .result{
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #707B81;
                display: flex;
                justify-content: space-between;
            }
        }
        hr{
            border: 2px dashed #FF0000;
            width: 310px;
            height: 0px;
            margin-top: 12px;
        }
    }
}

.buttons{
    padding: 10px;
    .button{
        padding: 10px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
    }
    .green{
        background: #2DA44C;
    }
    .red{
        background: #FF0000;
    }
    .blue{
        background: #139AC6;
    }
}

// report style
.transparent-btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 12px 24;
    background: #FFFFFF;
    border: 1px solid #CCD4DB;
    border-radius: 4px;
    width: 162px;
    height: 40px;
}

// settings card
.settings-card{
    width: 754px;
    height: 440px;
    left: 395px;
    top: 207px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    .group-btns{
        .btns{
            width: 198px;
            height: 63px;
            border-radius: 20px;
            padding: 10px 20px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 28.3224px;
            line-height: 45px;
        }
        display: block;
        .green-btn{
            background: #2CA54C;
            margin: 10px 0px;
            color: #FFFFFF;
        }
        .outline-black-btn{
            border: 2px solid #707B81;
            color: #000000;
            // margin: 10px;
        }
    }
}

// logout card
.logout-card{
    width: 757px;
    height: 483px;
    background: linear-gradient(360deg, #139AC6 -40.06%, rgba(81, 194, 231, 0.54) 106.11%);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    hr{
        width: 643px;
        height: 0px;
        border: 2px solid #FFFFFF;
    }
    .text{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        color: #FFFFFF;
    }
    .group-btns{
        display: flex;
        justify-content: space-around;
        .btns{
            width: 141px;
            height: 44px;
            border-radius: 14.2795px;
            padding: 5px 20px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
        .green-btn{
            background: #2CA54C;
            color: #FFFFFF;
            margin-right: 5px;
        }
        .outline-black-btn{
            border: 1.42795px solid #707B81;;
            background-color: #FFFFFF;
            color: #000000;
            // margin: 10px;
        }
    }
}

// agents card
.agent-card{
    height: auto;
    margin: 10px 40px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}